In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV,KFold
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv("C:\\Users\\Dedshan Vimukthi\\Documents\\Dataset3\\Bank.CSV")

In [3]:
data.head()

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,210,1.4,93.444,-36.1,4.963,5228.1,0
1,53,138,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,339,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,185,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,137,-2.9,92.201,-31.4,0.869,5076.2,1

In [4]:
x=data.iloc[:,:7].values
y=data.iloc[:,7].values

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [7]:
sv=SVC(C=1,kernel="linear")

In [8]:
sv.fit(x_train,y_train)

SVC(C=1, kernel='linear')

In [9]:
y_pred=sv.predict(x_test)

In [10]:
accuracy_score(y_pred,y_test)

0.9026462733673222